body {
  background-image : url("http://x.annihil.us/u/prod/marvel/i/mg/8/b0/537ba702ad5b3.gif");
 
}

.containerChar {
   background-color: rgba(255, 0, 0, 0.5)
}

h1 {
  background-color:BLACK;
  color:white;
  margin:0;
  padding:50px;
}

h3 {
  color:white;
}

.form-control {
  outline-style:none;
  box-shadow:none;
  border-color:transparent;
  border-radius: 0;
  margin:10px;
}

button{
  margin-top:-10px;
}


.heroCard {  
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  margin-top:30px;
}

img{
  margin : 0 auto;
}

h3{
  text-align:center;
}

.heroCard:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  cursor:pointer;
}

.btn {
  border: none;
  margin-top:10px;
}

p, h3 {
  color:white;
}